# ===== CMake / Visual Studio =====
build/
out/
bin/
CMakeFiles/
.vs/
CMakeCache.txt
*.sln
*.vcxproj*
*.obj
*.pdb
*.lib
*.exe

# ===== IDE =====
.vscode/
.idea/
*.user
*.opensdf
*.sdf
*.ipch

# ===== System =====
Thumbs.db
.DS_Store

# ===== Logs =====
*.log
